###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto
*.js -diff -merge -text
ThreeOneSevenBee.Frontend.Website/js/* linguist-vendored