###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto
ThreeOneSevenBee.Frontend.Website/js/* linguist-vendored
